body{
    max-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://m.media-amazon.com/images/M/MV5BZDAzN2FhMTgtMzg5YS00ZDFkLWFiMTUtZTVmMzk4ZjEyMmJmXkEyXkFqcGdeQXVyNjkzMjkzMTY@._V1_.jpg")
}
.header{
    border: 3px black solid;
    text-align: center;
    height: 50px;
    
}
.nav{
    border: 3px black solid;
    text-align: center;
    height: 50px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    }
.nav-buttons-group{
    border: 3px black solid;
    /* text-align: center; */
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.hero{
    border: 3px red solid;
    text-align: center;
    height: 100px;
   
        
}
.main-section{
    border: 3px black solid;
    text-align: center;
    height: 325px;
    
}
.lower-nav-buttons-group{
    border: 3px black solid;
    /* text-align: center; */
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    border: 3px black solid;
    text-align: center;
    height: 50px;
    
}